*.pyc
*.html.py
*~
*__pycache__*
*/.~lock*
tmp/*
!tmp/README.md
uni_ticket_project/settingslocal.py
static/*
data/static/*
data/media/*
!data/static/README.md
!data/media/README.md
docs/build/*
uni_ticket_project_cache/*
db.sqlite3

saml2_sp/saml2_config/certificates/*pem
saml2_sp/saml2_config/certificates/*key
saml2_sp/saml2_config/certificates/*src
saml2_sp/saml2_config/certificates/*crt
saml2_sp/saml2_config/certificates/*cert
saml2_sp/saml2_config/settings.py
saml2_sp/settings.py
saml2_sp/saml2_config/metadata/


