*.pyc
*.html.py
*~
*__pycache__*
*/.~lock*
*.mo

.coverage

run.sh

uniticket/data/media/*
uniticket/data/static/*
!uniticket/data/static/README.md
!uniticket/data/media/README.md

uniticket/db.sqlite3
docs/build/*

uniticket/templates/base-setup.html

uniticket/saml2_sp/settings.py
uniticket/saml2_sp/saml2_config/attribute-maps/satosa_spid.py
uniticket/saml2_sp/saml2_config/certificates/*pem
uniticket/saml2_sp/saml2_config/certificates/*key
uniticket/saml2_sp/saml2_config/certificates/*src
uniticket/saml2_sp/saml2_config/certificates/*crt
uniticket/saml2_sp/saml2_config/certificates/*cert
uniticket/saml2_sp/saml2_config/certificates/*csr
uniticket/saml2_sp/saml2_config/settings.py
uniticket/saml2_sp/saml2_config/metadata/

uniticket/static/*

uniticket/tmp/*
!uniticket/tmp/README.md

uniticket/uni_ticket_project/settingslocal.py
uniticket/uni_ticket_project_cache/*

examples-docker/*
