Django>=3.2.4,<4

django-admin-search-builder>=0.2.0
django_ckeditor>=5.9.0

django-form-builder>=0.16.14

django-nested-admin>=3.2.4

uritemplate>4.1
pyyaml>=6.0,<7.0

pillow>=8.2.0
python-magic>=0.4.15
pytz>=2019.3
pydantic >= 1.9.0

# datatables ajax
git+https://github.com/peppelinux/django-datatables-ajax.git

# FileSignatureValidator
git+https://github.com/peppelinux/FileSignatureValidator.git

# SAML2
djangosaml2>=1.0.3

# SASS dynamic compiler
libsass>=0.19.4
django-sass-processor>=1.0.0

# Bootstrap Italia
design-django-theme==1.6.4

# Unical template
# django-unical-bootstrap-italia==1.0.5

# Django REST
djangorestframework>=3.13
django-filter>=2.4.0

# Django channels only for chat
channels>=2.4.0
channels_redis>=2.4.2
daphne>=3

markdown>=3.2.1
cryptojwt>=1.5.0
WeasyPrint==52.4

# Protocollo informatico
# pyWSArchiPRO
# (app folder included in project, not installed via pip)
# git+https://github.com/peppelinux/pyWSArchiPRO.git

# production
# mysqlclient>=1.4.6

# per la protocollazione
zeep
