# Database
# https://docs.djangoproject.com/en/2.1/ref/settings/#databases

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'rz82a_#y1#s=l+loeqgn_4xslwchu%yxtpdf)h7b$6kn+p+sca'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True
HOSTNAME = ''
ALLOWED_HOSTS = ['localhost',
                 HOSTNAME]
EMAIL_SENDER = 'no-reply@{}'.format(HOSTNAME)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '',
        'HOST': 'localhost',
        'USER': '',
        'PASSWORD': '',
        'PORT': '',
        'OPTIONS': {
            'init_command': "SET sql_mode='STRICT_TRANS_TABLES'",
        },
    }
}

# needed to have debug var in template context
INTERNAL_IPS = (
    '127.0.0.1',
)
