import os

# user model for auth
AUTH_USER_MODEL = "accounts.User"

# localization
LANGUAGE_CODE = 'it'
TIME_ZONE = 'Europe/Rome'

# date/datetime format
DEFAULT_DATE_FORMAT = '%Y-%m-%d'
DEFAULT_DATETIME_FORMAT = '{} %H:%M'.format(DEFAULT_DATE_FORMAT)
DATE_INPUT_FORMATS = [DEFAULT_DATE_FORMAT, '%d/%m/%Y']

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'rz82a_!%$&&56£$56565645645!"SDFXbg"£$5£"$5a'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False
if not DEBUG:
    SESSION_EXPIRE_AT_BROWSER_CLOSE=True
    SESSION_COOKIE_AGE=(60*60)*9
    CSRF_COOKIE_HTTPONLY=True
    CSRF_COOKIE_SECURE=True
    SESSION_COOKIE_SECURE=True

HOSTNAME = 'uniticket.hostname.url'
ALLOWED_HOSTS = [HOSTNAME]

ADMIN_PATH = 'admin_path'

EMAIL_SENDER = 'ticket.no-reply@{}'.format(HOSTNAME)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

# Application definition
INSTALLED_APPS = [
    'accounts',

    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.humanize',
    'django.contrib.messages',
    'django.contrib.sessions',
    'django.contrib.staticfiles',

    'ckeditor',
    'datatables_ajax',

    'sass_processor',
    'bootstrap_italia_template',
    'django_unical_bootstrap_italia',
    'uni_ticket_bootstrap_italia_template',

    'bootstrapform',
    'uni_ticket',
    'django_form_builder',
    'nested_admin',
    'organizational_area',

    # Django Rest
    'rest_framework',

    # Django channels and chat
    'channels',
    'chat',

    ##SAML2 SP
    'djangosaml2',
    'saml2_sp',
]

# Import chat app settings
if 'chat' in INSTALLED_APPS:
    from chat.settings import *

CUSTOM_WIDGETS = {
    'BaseDateField': 'bootstrap_italia_template.widgets.BootstrapItaliaDateWidget',
    # 'BaseDateTimeField': 'bootstrap_italia_template.widgets.BootstrapItaliaTimeWidget',
    #'CustomSelectBoxField': 'bootstrap_italia_template.widgets.BootstrapItaliaSelectWidget',
    'CustomRadioBoxField': 'bootstrap_italia_template.widgets.BootstrapItaliaRadioWidget',
    # 'BaseDateField': 'django.forms.widgets.DateInput',
    # 'DateField': 'django.forms.widgets.DateInput',
    # 'CustomSelectBoxField': 'django.forms.widgets.Select',
    # 'CustomRadioBoxField': 'django.forms.widgets.RadioSelect',
}

# DjangoSAML2 conf
if 'djangosaml2'  in INSTALLED_APPS:
    from saml2_sp.settings import *
    # pySAML2 SP mandatory
    SESSION_EXPIRE_AT_BROWSER_CLOSE=True

    LOGIN_URL = '/saml2/login'
    LOGOUT_URL = '/saml2/logout'

    AUTHENTICATION_BACKENDS = (
        'django.contrib.auth.backends.ModelBackend',
        'djangosaml2.backends.Saml2Backend',
    )
else:
    LOGIN_URL = '/login'
    LOGOUT_URL = 'logout'

# This parameters define the roles of users to open ticket
# If True, an employee is a user that has this parameter filled (in user model)
# If False, an employee is a user that is mapped as OrganizationalStructureOfficeEmployee
EMPLOYEE_ATTRIBUTE_NAME = 'matricola_dipendente'
# If True, an internal user (not guest) is a user that has this filled (in user model)
# If False, an internal user is a user that is mapped as OrganizationalStructureOfficeEmployee
USER_ATTRIBUTE_NAME = 'matricola_studente'

# UNITICKET JWE support
UNITICKET_JWE_RSA_KEY_PATH = 'saml2_sp/saml2_config/certificates/key.pem'
UNITICKET_JWE_ALG = "RSA1_5"
UNITICKET_JWE_ENC = "A128CBC-HS256"
# end JWE support

DEFAULT_FROM_EMAIL = 'uniticket-noreply@server.it'
SERVER_EMAIL = 'uniticket-error@server.it'
EMAIL_HOST = 'smtp.server.it'
# EMAIL_HOST_USER = 'myemail@hotmail.com'
# EMAIL_HOST_PASSWORD = 'mypassword'
EMAIL_PORT = 587
EMAIL_USE_TLS = True

# needed to have debug var in template context
INTERNAL_IPS = (
    '127.0.0.1',
)

REST_FRAMEWORK = {
    'DEFAULT_PERMISSION_CLASSES': [
        'rest_framework.permissions.IsAuthenticated'
    ],
    'DEFAULT_PAGINATION_CLASS':
        'rest_framework.pagination.LimitOffsetPagination',
    'PAGE_SIZE': 100
}

# chat: message to load in a conversation from history
MESSAGES_TO_LOAD = 1500

if "channels" in INSTALLED_APPS:
    ASGI_APPLICATION = 'uni_ticket_project.routing.application'
    CHANNEL_LAYERS = {
        'default': {
            'BACKEND': 'channels_redis.core.RedisChannelLayer',
            'CONFIG': {
                "hosts": [('127.0.0.1', 6379)],
            },
        },
    }

ADMINS = [('Giuseppe De Marco', 'giuseppe.demarco@server.it'),
          ('Francesco Filicetti', 'francesco.filicetti@server.it'),]

LOGGING = {
        'version': 1,
        'disable_existing_loggers': False,
        'formatters': {
        'verbose': {
            'format': '%(levelname)s [%(asctime)s] %(module)s %(message)s'
            },
        },
        'filters': {
            'require_debug_false': {
                '()': 'django.utils.log.RequireDebugFalse'
            }
        },
        'handlers': {
            'mail_admins': {
                'level': 'ERROR',
                'filters': ['require_debug_false'],
                'class': 'django.utils.log.AdminEmailHandler'
            },
            'console': {
                'level': 'INFO',
                'class': 'logging.StreamHandler',
            },
            # 'file': {
                # 'class': 'logging.handlers.RotatingFileHandler',
                # 'formatter': 'verbose',
                # 'filename': '/tmp/peo.unical.it-error-handler.log',
                # 'maxBytes': 1024000,
                # 'backupCount': 3,
                # },
        },
        'loggers': {
            # disables Invalid HTTP_HOST header emails
            'django.security.DisallowedHost': {
                    'handlers': ['mail_admins'],
                    'level': 'CRITICAL',
                    'propagate': False,
            },
            # 'django.request': {
                # 'handlers': ['mail_admins'],
                # 'level': 'ERROR',
                # 'propagate': True,
            # },
            # 'djangosaml2': {
                # 'handlers': ['console'],
                # 'level': 'DEBUG',
            # },
            'django': {
                'handlers': ['console','mail_admins'],
                'propagate': True,
                'level': 'ERROR',
            },
        }
    }

# file validation
PDF_FILETYPE = ('application/pdf',)
DATA_FILETYPE = ('text/csv', 'application/json',
                 'application/vnd.ms-excel',
                 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
                 'application/vnd.oasis.opendocument.spreadsheet',
                 'application/wps-office.xls',
                 )
TEXT_FILETYPE = ('text/plain',
                 'application/vnd.oasis.opendocument.text',
                 'application/msword',
                 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
                )
IMG_FILETYPE = ('image/jpeg', 'image/png', 'image/gif', 'image/x-ms-bmp')
P7M_FILETYPE = ('application/pkcs7-mime',)
SIGNED_FILETYPE = PDF_FILETYPE + P7M_FILETYPE
PERMITTED_UPLOAD_FILETYPE = TEXT_FILETYPE + DATA_FILETYPE + IMG_FILETYPE + SIGNED_FILETYPE

# maximum permitted filename lengh in attachments, uploads
ATTACH_NAME_MAX_LEN = 50

# 2.5MB - 2621440
# 5MB - 5242880
# 10MB - 10485760
# 20MB - 20971520
# 50MB - 5242880
# 100MB 104857600
# 250MB - 214958080
# 500MB - 429916160
MAX_UPLOAD_SIZE = 10485760
