{% extends "base_page_schema.html" %}

{% load i18n %}
{% load static %}
{% load uni_ticket_tags %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
{% endblock extra_head %}

{% block menu_links %}
{% include 'user/main_menu.html' %}
{% endblock menu_links %}

{% block top_buttons %}
<a role="button" id="leave_chat_button"
   class="btn btn-outline-secondary"
   href="{% url 'uni_ticket:manage' structure_slug=structure.slug %}">
    <svg class="icon icon-xs">
        <use xlink:href="{% static 'svg/sprites.svg' %}#it-arrow-left"></use>
    </svg> {% trans "Lascia la chat" %}
</a>
{% endblock top_buttons %}

{% block page_content %}
    {% user_operator_chat request.user structure as user_operator_chat %}

    <audio id="beep_sound" preload="none">
       <source src="{% static 'sounds/chat.mp3' %}" type="audio/mpeg">
    </audio>

    <div class="container">
        <div class="row">
            <div class="col-md-3 chat-user-list">
                <div id="user-list" class="list-group">
                    <h5 class="list-group-item-heading mb-3">
                        {% if user_operator_chat %}
                        {% trans "Stato" %}
                        <select id="operator_status"
                                class="mt-3 mb-4"
                                style="font-size: 16px"
                                onchange="updateUserStatus();">
                            <option value="busy">Disponibile</option>
                            <option value="free">Occupato</option>
                        </select>
                        {% endif %}
                        {% block users_list_label %}
                            {% trans "Utenti" %}
                        {% endblock users_list_label %}
                    </h5>
                    {# Users go here #}
                </div>
            </div>
            <div class="col-md-8 offset-md-1">
                <div class="panel panel-info">
                    <div>
                        <ul id="messages" class="messages">
                            {# Messages go here #}
                            <div class="alert alert-info alert-dismissible fade show float-start" role="alert">
                                {% if user_operator_chat %}
                                    {% trans "Seleziona un utente tra quelli disponibili" %}
                                {% else %}
                                    {% trans "Seleziona un operatore tra quelli disponibili" %}
                                {% endif %}
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </ul>
                    </div>
                    <div class="panel-footer my-3">
                        <div class="input-group">
                            <input id="chat-input" type="text"
                                   class="form-control input"
                                   placeholder="{% trans 'Scrivi qui il tuo messaggio...' %}"
                                   maxlength="500"
                                   oninput="reset_timeout();">
                        </div>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-success"
                                id="btn-send">
                            {% trans "Invia" %}</button>

                        {% if user_operator_chat %}
                        <button class="btn btn-outline-secondary"
                                id="btn-videochat">
                            {% trans "Apri videoconferenza" %}</button>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script>
        let ws_protocol = '{{ ws_protocol }}'
        let room_name = '{{ structure.slug }}'
        let sessionKey = '{{ request.session.session_key }}';
        let currentUser = '{{ request.user.pk }}';
        let currentUser_name = '{{ request.user.first_name }} {{ request.user.last_name }}';
    </script>
    <script src="{% static 'js/app.js' %}"></script>

{% endblock %}
