{% extends "base_page_schema.html" %}

{% load i18n %}
{% load static %}
{% load uni_ticket_tags %}

{% block extra_head %}
{{ block.super }}
<script src="{% static 'js/jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
{% endblock extra_head %}

{% block menu_links %}
{% include 'user/main_menu.html' %}
{% endblock menu_links %}

{% block top_buttons %}
<a role="button" class="btn btn-outline-secondary"
   href="{% url 'uni_ticket:user_dashboard' %}">
    <svg class="icon icon-xs">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
    </svg> {% trans "Lascia la chat" %}
</a>
{% endblock top_buttons %}

{% block page_content %}
    {% user_operator_chat request.user structure as user_operator_chat %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 chat-user-list">
                <div id="user-list" class="list-group">
                    <h5 class="list-group-item-heading mb-3">{% trans "Utenti" %}</h5>
                    {# Users go here #}
                </div>
            </div>
            <div class="col-md-8 offset-md-1">
                <div class="panel panel-info">
<!--
                    <div class="panel-heading">
                        <h5 class="panel-title mb-4">{% trans "Messaggi" %}</h5>
                    </div>
-->
                    <div>
                        <ul id="messages" class="messages">
                            {# Messages go here #}
                            <div class="alert alert-info alert-dismissible fade show float-left" role="alert">
                                {% if not user_operator_chat %}
                                    {% trans "Seleziona un operatore tra quelli disponibili" %}
                                {% else %}
                                    {% trans "Seleziona un operatore tra quelli disponibili" %}
                                {% endif %}
                                <button type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endif  %}
                        </ul>
                    </div>
                    <div class="panel-footer my-3">
                        <div class="input-group">
                            <input id="chat-input" type="text"
                                   class="form-control input"
                                   placeholder="{% trans 'Scrivi qui il tuo messaggio...' %}"
                                   maxlength="500">
                        </div>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-success"
                                id="btn-send">
                            {% trans "Invia" %}</button>

                        {% if user_operator_chat %}
                        <button class="btn btn-outline-secondary"
                                id="btn-videochat">
                            {% trans "Apri videoconferenza" %}</button>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script>
        let room_name = '{{ structure.slug }}'
        let sessionKey = '{{ request.session.session_key }}';
        let currentUser = '{{ request.user.username }}';
        let currentUser_name = '{{ request.user.first_name }} {{ request.user.last_name }}';
    </script>
    <script src="{% static 'js/app.js' %}"></script>

{% endblock %}
