import os
import saml2
from saml2.saml import (NAMEID_FORMAT_EMAILADDRESS,
                        NAMEID_FORMAT_TRANSIENT,
                        NAMEID_FORMAT_PERSISTENT)
from saml2.sigver import get_xmlsec_binary

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

BASE_URL = 'https://ticket.unical.it/saml2/'

SAML_CONFIG = {
    'debug' : True,
    'xmlsec_binary': get_xmlsec_binary(['/opt/local/bin', '/usr/bin/xmlsec1']),
    'entityid': '%s/metadata/' % BASE_URL,

    'attribute_map_dir': os.path.join(os.path.join(os.path.join(BASE_DIR, 'saml2_sp'),
                                      'saml2_config'),
                                      'attribute-maps'),

    'service': {
        'sp': {
            'name': '%s/metadata/' % BASE_URL,

            'name_id_format': [NAMEID_FORMAT_TRANSIENT],
                               # NAMEID_FORMAT_PERSISTENT],


            'name_id_format_allow_create': False,

            'endpoints': {
                #'artifact_resolution_service': []
                'assertion_consumer_service': [
                    ('%s/acs/' % BASE_URL, saml2.BINDING_HTTP_POST),
                    ],
                'single_logout_service': [
                    ('%s/ls/' % BASE_URL, saml2.BINDING_HTTP_REDIRECT),
                    ('%s/ls/post' % BASE_URL, saml2.BINDING_HTTP_POST),
                    ],
                }, # end endpoints

            # attributes that this project need to identify a user
            'required_attributes': ['eduPersonPrincipalName',
                                    'schacPersonalUniqueCode',
                                    #'uid',
                                    'mail',
                                    'sn',
                                    'cn',
                                    'givenName',
                                    'schacPersonalUniqueID'],

            'allow_unknown_attributes' : False,

            # PR https://github.com/IdentityPython/pysaml2/pull/495
            # requires saml2/config.py patch line
            # 'authn_requests_signed_alg': 'sha512',

            # Mandates that the identity provider MUST authenticate the
            # presenter directly rather than rely on a previous security context.
            "force_authn": True,

            # attributes that may be useful to have but not required
            'optional_attributes': ['eduPersonAffiliation',
                                    'matricola_dipendente',
                                    'codice_fiscale'],

            # Indicates if the Authentication Requests sent by this SP should be signed by default.
            # default value is True (POST METHOD will be used, if false GET method will be used)
            # Shibboleth SP send this not signed and in GET method by default
            'authn_requests_signed': True,

            # doesn't seems to be really loaded:
            "logout_requests_signed": True,

            # Indicates that Authentication Responses to this SP must be signed.
            # If set to True, the SP will not consume any SAML Responses that are not signed.
            # if both set to False pysaml2 will say: The SAML service provider accepts unsigned SAML Responses and Assertions. This configuration is insecure.
            # want_assertions_signed to False will let us work with idp self signed certs, it avoids xmlsec1 exception: func=xmlSecOpenSSLX509StoreVerify:file=x509vfy.c:line=408:obj=x509-store:subj=unknown:error=71:certificate verification failed:err=18;msg=self signed certificate
            'want_response_signed': True,
            'want_assertions_signed': True, # reference: https://github.com/IdentityPython/pysaml2/pull/485

            # When set to true, the SP will consume unsolicited SAML Responses,
            # i.e. SAML Responses for which it has not sent a respective SAML Authentication Request.
            # example, a page refresh after a POST from IDP, as unsolicitated will work
            'allow_unsolicited': True,

            # these only works using pySAML2 patched with this
            # https://github.com/IdentityPython/pysaml2/pull/597
            'signing_algorithm':  saml2.xmldsig.SIG_RSA_SHA256,
            'digest_algorithm':  saml2.xmldsig.DIGEST_SHA256,

            'only_use_keys_in_metadata': True,

            # Permits to have attributes not configured in attribute-mappings
            # otherwise...without OID will be rejected
            'allow_unknown_attributes': True,

            # This kind of functionality is required for the eIDAS SAML profile.
            # eIDAS-Connectors SHOULD NOT provide AssertionConsumerServiceURL.
            # "hide_assertion_consumer_service": True,

            # Since this is a very simple SP it only needs to know about
            # one IdP, therefore there is really no need for a metadata
            # file or a WAYF-function or anything like that.
            # It needs the URL of the IdP and that’s all.:
            #"idp_url" : "{}/idp/SSOService.php".format(IDP_URL),

            }, # end sp

    },

    # where the remote metadata is stored
    'metadata': {
        # To verify the authenticity of the file downloaded from the net, the local copy of the public key should be used.
        # This public key must be acquired by some out-of-band method.

        # Uses metadata files, both local and remote, and will talk to whatever IdP that appears in any of the metadata files.

        # wget -O idp_metadata.xml https://idp.testunical.it/idp/shibboleth
        # 'local': [os.path.join(os.path.join(os.path.join(BASE_DIR, 'saml2_sp'), 'saml2_config'), 'idp_metadata.xml')],
        #
        # ondemand
        "remote": [{
            "url": "https://idp1.testunical.it/idp/metadata/",
            "disable_ssl_certificate_validation": True,
            # if self-signed must be globally defined also 'disable_ssl_certificate_validation': True,
            #"cert": BASE_DIR + "/certificates/shibidp/idp.testunical.it-cert.pem",
             }]

    },

    # Signing
    'key_file': BASE_DIR + '/saml2_sp/saml2_config/certificates/private.key',
    'cert_file': BASE_DIR + '/saml2_sp/saml2_config/certificates/public.cert',

    # Encryption
    'encryption_keypairs': [{
        'key_file': BASE_DIR + '/saml2_sp/saml2_config/certificates/public.key',
        'cert_file': BASE_DIR + '/saml2_sp/saml2_config/certificates/public.cert',
    }],

    # own metadata settings
    'contact_person': [
      {'given_name': 'Giuseppe',
       'sur_name': 'De Marco',
       'company': 'Universita della Calabria',
       'email_address': 'giuseppe.demarco@unical.it',
       'contact_type': 'technical'},
      ],
    # you can set multilanguage information here
    'organization': {
      'name': [('Unical', 'it'), ('Unical', 'en')],
      'display_name': [('Unical', 'it'), ('Unical', 'en')],
      'url': [('http://www.unical.it', 'it'), ('http://www.unical.it', 'en')],
      },

    'valid_for': 365 * 24,
}

# NAME_ID or MAIN_ATTRIBUTE (not together!)
SAML_USE_NAME_ID_AS_USERNAME = False
SAML_DJANGO_USER_MAIN_ATTRIBUTE = 'username'
SAML_DJANGO_USER_MAIN_ATTRIBUTE_LOOKUP = '__iexact'

SAML_CREATE_UNKNOWN_USER = True

SAML_ATTRIBUTE_MAPPING = {

    # django related
    'eduPersonPrincipalName': ('username', ),

    # pure oid standard
    'email': ('email', ),
    'mail': ('email',),

    # oid pure
    'cn': ('first_name', ),
    'sn': ('last_name', ),
    'schacPersonalUniqueID': ('schacPersonalUniqueID',),
    # 'eduPersonPrincipalName': ('eduPersonPrincipalName',),
    'eduPersonEntitlement': ('eduPersonEntitlement',),
    'schacPersonalUniqueCode': ('schacPersonalUniqueCode',),

    # spid related
    'name': ('first_name', ),
    'familyName': ('last_name', ),
    'fiscalNumber': ('codice_fiscale',),
    'placeOfBirth': ('place_of_birth',),
    'dateOfBirth': ('birth_date',),

    # unical legacy fallback
    'codice_fiscale': ('codice_fiscale',),
}
