{% load i18n %}
{% load uni_ticket_tags %}
{% year_list as year_list %}
{% now 'Y' as current_year %}
<div class="row">
    <div class="col-2">
        <div class="bootstrap-select-wrapper">
            <select id="year_box"
                    name="year_box">
                {% for year in year_list %}
                <option value="{{ year }}" {% if year|slugify == current_year %}selected{% endif %}>
                    {{ year }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-10">
        <div class="form-group">
            <input type="text" id="search_box" placeholder="{% trans 'Cerca...' %}">
        </div>
    </div>
</div>
