{% load uni_ticket_tags %}

<div class="it-list-wrapper">
    <ul class="it-list">
        {% for log in logs %}
        {% user_from_pk log.user_id as user %}
        <li>
            <a>
                <div class="it-right-zone">
                    <span class="text">{{ log.change_message }}<em>{{ user }}</em></span>
                    <span class="it-multiple">
                        <span class="metadata">{{ log.action_time }}</span>
                    </span>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
