{% load i18n %}
{% load static %}

<div id="collapseDiv1-lft" class="collapse-div collapse-left-icon" role="tablist">

    <div class="collapse-header" id="heading1-lft">
        <button data-toggle="collapse" data-target="#collapse1-lft" aria-expanded="false" aria-controls="collapse1-lft">
            {% trans "Moduli di inserimento" %} ({{ category.ticketcategorymodule_set.all|length }})
        </button>
    </div>
    <div id="collapse1-lft" class="collapse" role="tabpanel" aria-labelledby="heading1-lft">
        <div class="collapse-body">
            {% include "manager/category_input_modules.html" %}
            <div>
                <a class="btn btn-outline-success btn-block mt-4"
                   href="{% url 'uni_ticket:manager_category_new_input_module' structure_slug=structure.slug category_slug=category.slug %}">
                    <svg class="icon icon-xs icon-success">
                        <use xlink:href="/static/images/svg/sprite.svg#it-plus-circle"></use>
                    </svg> {% trans "Aggiungi nuovo modulo di inserimento" %}
                </a>
            </div>
        </div>
    </div>

    <div class="collapse-header" id="heading2-lft">
        <button data-toggle="collapse" data-target="#collapse2-lft" aria-expanded="false" aria-controls="collapse2-lft">
            {% trans "Clausole obbligatorie per i ticket" %} ({{ category.ticketcategorycondition_set.all|length }})
        </button>
    </div>
    <div id="collapse2-lft" class="collapse" role="tabpanel" aria-labelledby="heading2-lft">
        <div class="collapse-body">
            {% include "manager/category_conditions.html" %}
            <div>
                <a class="btn btn-outline-success btn-block mt-4"
                   href="{% url 'uni_ticket:manager_category_condition_new' structure_slug=structure.slug category_slug=category.slug %}">
                    <svg class="icon icon-xs icon-success">
                        <use xlink:href="/static/images/svg/sprite.svg#it-plus-circle"></use>
                    </svg> {% trans "Aggiungi nuova clausola" %}
                </a>
            </div>
        </div>
    </div>
</div>
