{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block menu_links %}
{% include 'manager/main_menu.html' %}
{% endblock menu_links %}

{% block container_inner %}
<div class="pb-4 clearfix">
    {% include 'management/ticket_cards.html' %}
    <a role="button" class="btn btn-outline-secondary" href="{% url 'uni_ticket:manager_messages' structure_slug=structure.slug %}">
        {% if ticket_messages > 0 %}
        <span class="badge badge-primary">
            {{ ticket_messages }}
        </span>
        {% endif %}
        <svg class="icon icon-xs">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-comment"></use>
        </svg>
        {% trans 'Messaggi' %}
    </a>
    <div class="pull-right">
        <a role="button" class="btn btn-outline-secondary"
           href="#categorie"
           data-attribute="forward" class="forward" aria-hidden="true">
            <svg class="icon icon-xs">
                <use xlink:href="{% static 'svg/sprite.svg' %}#it-folder"></use>
            </svg> {% trans "Categorie Ticket" %}
        </a>
        <a role="button" class="btn btn-outline-secondary"
           href="#uffici"
           data-attribute="forward" class="forward" aria-hidden="true">
            <svg class="icon icon-xs">
                <use xlink:href="{% static 'svg/sprite.svg' %}#it-share"></use>
            </svg> {% trans "Uffici" %}
        </a>
    </div>
</div>
<hr />
<h5 class="py-3 float-left" id="categorie">{% trans "Categorie Ticket" %}</h5>
{% include 'manager/categories_list.html' %}
<hr />
<h5 class="pt-3 float-left" id="uffici">{% trans "Uffici" %}</h5>
{% include 'manager/offices_list.html' %}
{% endblock container_inner %}
