{% extends "base_page_schema.html" %}

{% load i18n %}
{% load static %}

{% block menu_links %}
{% include 'manager/main_menu.html' %}
{% endblock menu_links %}

{% block top_buttons %}
<a role="button" class="btn btn-outline-secondary"
   href="{% url 'uni_ticket:manage_ticket_url_detail' structure_slug=structure.slug ticket_id=ticket.code %}">
   <svg class="icon icon-xs">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
    </svg> {% trans 'Torna al ticket' %}
</a>
{% endblock top_buttons %}

{% block clean_content %}
{% include "ticket_assistance.html" with management=True %}
{% endblock clean_content %}

{% block extra_scripts %}
{{ form.media }}
{% endblock extra_scripts %}
