a {
    cursor: pointer;
    text-decoration: none;
}
.bootstrap-select-wrapper button {
    color: #000;
}
input[type=file] {
    width: 100%;
}
input[type="date"], input[type="datetime-local"], input[type="email"],
input[type="number"], input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="time"],
input[type="url"]{
    border-bottom: 1px solid #ddd;
}
textarea{
    border: 1px solid #ddd;
}
.bootstrap-select-wrapper button .filter-option:after {
    background: #ddd;
}

/**
 * Cards
 */
 .card a.read-more {
    position: inherit;
    bottom: 0px;
 }
.card .card-body p,
.card .card-body p.card-text,
.callout p {
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
}
.card .card-body{
    overflow-x: auto;
}
.card .card-body a h5.card-title {
    text-transform: none;
    color: #17324d;

}
.card .card-body a h5.card-title.light-style{
    font-weight: normal;
    margin-bottom: 0;
}
h5.card-title .badge {
    font-size: 1.1rem;
    margin-right: 20px;
}

textarea {
    height: 30px;
}

.it-list-wrapper .it-list a {
    margin-top: 0px;
}

/**
 * Form
 */
.it-datepicker-wrapper .form-group,
.bootstrap-select-wrapper .form-group {
    margin-bottom: 0;
}
.errorlist{
    margin-bottom: 0;
}

.toggles label input[type=checkbox]:checked+.lever:after {
    background-color: #008758;
}

.collapse-header [data-toggle=collapse][aria-expanded=false] {
    color: #383838;
}
.collapse-header [data-toggle=collapse]:after {
    color: #b83219;
}

/**
 * Datatables
 */
.uni_ticket_select {
    background: #fff;
    border-top: none;
    font-weight: bold;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;

}
.dataTables_info {
    float: left;
}
.dataTables_paginate {
    float:right;
}
.paginate_button {
    padding: 0 10px;
}

/*
 * Callout
 */
.card .card-body .callout p {
    font-size: 1rem;
}


a.read-more .icon{ fill: #9d9d9d; }

/*
 * Spacing
 */
@media (max-width: 767px){
    ul.it-list .btn.mx-1{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .pb-md-5, .py-md-5 {
        padding-bottom: 25px!important;
        padding-top: 25px!important;
    }
    .main-body {
        h1,h2,h3,h4,h5{
            text-align:center;
        }
    }
    h1.float-left,
    h2.float-left,
    h3.float-left,
    h4.float-left,
    h5.float-left{
        float: none !important;
    }
    h1 .text-muted,
    h2 .text-muted,
    h3 .text-muted,
    h4 .text-muted,
    h5 .text-muted{
        display: block;
        clear: both;
        margin-top: 10px;
    }
    .btn{
        display: block !important;
        width: 100%;
        margin: 3px 0;
    }
    .header-slim-right-zone{
        width: 100%;
    }
    .header-slim-right-zone .nav-item.dropdown{
        margin: auto;
    }

    .dataTables_info,
    .dataTables_paginate {
        width: 100%;
        text-align: center;
    }

    .header-slim-right-zone .dropdown-menu {
        width: 100%;
    }
    .header-slim-right-zone .dropdown-menu:before {
        left: 50%;
        margin-left: -9px;
    }

    .chip.chip-lg {
        width: 100%;
    }

    .collapse-div .badge {
        display: table;
    }
}


.table {
  th,
  td {
    border-bottom: 1px solid #d6dce3;
    border-top: 1px solid #d6dce3;
  }
}

/*
 * custom float only on desktop
 */
@media (max-width: 768px) {
    .table-responsive .table:not(.dataTable) th,
    .table-responsive .table:not(.dataTable) td {
        float: left;
        width: 100%;
        border-bottom: 0;
    }
}

.errorlist {
    color: #a31f33;
    list-style: none;
    padding-left: 10px;
}

/*
 * Select Input compatibility mode (emulate Bootstrap Italia)
 */
select {
    width: 100%;
    background: #fff;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #d6dce3;
    color: #435a70;
}

/*
 * custom float only on desktop
 */
@media (min-width: 992px) {
    .pull-right {
        float: right !important;
    }
    .pull-left {
        float: left !important;
    }
}

/*
 * normalize buttons and <a> tags with role=button
 */
.it-list-wrapper .it-list a[role=button].btn-outline-secondary:hover {
    -webkit-box-shadow: inset 0 0 0 1px #c9cedc;
    box-shadow: inset 0 0 0 1px #c9cedc;
    color: #50565c !important;
    text-decoration: none;
    background: #fcfdff;
}
