{% extends "form_complete.html" %}

{% load i18n %}
{% load static %}

{% block menu_links %}
{% include 'user/main_menu.html' %}
{% endblock menu_links %}

{% block top_buttons %}
<a role="button" class="btn btn-outline-secondary"
   href="{% url 'uni_ticket:new_ticket_preload' structure_slug=struttura.slug %}">
    <svg class="icon icon-xs">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
    </svg> {% trans "Torna alla selezione categoria" %}
</a>
{% endblock top_buttons %}

{% block over_content %}
<div class="pb-4">
    <div class="chip chip-lg">
        <label class="chip-label" for="chip-02">
            {% trans "Struttura" %}: <b>{{ struttura }}</b>
        </label>
    </div>
    <div class="chip chip-lg">
        <label class="chip-label" for="chip-02">
            {% trans "Categoria" %}: <b>{{ categoria }}</b>
        </label>
    </div>
</div>

{% if conditions %}
<div class="pb-4">
    <div class="row">
        <div class="col">
            <div class="card-space card-wrapper">
                <div class="card card-bg no-after">
                    <div class="card-body">
                        {% for condition in conditions %}
                        <h5 class="card-title text-left">{{ condition.title }}</h5>
                        <p class="card-text">{{ condition.text }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock over_content %}

{% block form_buttons %}
<div>
    <button class="btn btn-success btn-block"
            type="submit"
            value="{% trans 'Crea ticket' %}">
        <svg class="icon icon-xs icon-white">
            <use xlink:href="{% static 'svg/sprite.svg' %}#it-plus-circle"></use>
        </svg> {% trans "Crea ticket" %}
    </button>
</div>
{% endblock form_buttons %}
