{% extends "base_page_schema.html" %}

{% load i18n %}
{% load static %}

{% block menu_links %}
{% include 'user/main_menu.html' %}
{% endblock menu_links %}

{% block top_buttons %}
<a role="button" class="btn btn-outline-secondary"
   href="{% url 'uni_ticket:ticket_detail' ticket_id=ticket.code %}">
    <svg class="icon icon-xs">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-left"></use>
    </svg> {% trans 'Torna al ticket' %}
</a>
<a role="button" class="btn btn-outline-secondary"
   href="{% url 'uni_ticket:messages' %}">
   <svg class="icon icon-xs">
        <use xlink:href="{% static 'svg/sprite.svg' %}#it-comment"></use>
    </svg> {% trans 'Tutti i messaggi' %}
</a>
{% endblock top_buttons %}

{% block clean_content %}
{% include "ticket_assistance.html" %}
{% endblock clean_content %}

{% block extra_scripts %}
{{ form.media }}
{% endblock extra_scripts %}
